body {
  margin: 0px;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
.bgContainer {
  background-color: #f1f5f8;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  text-align: center;
}
.button {
  background-color: #007bff;
  color: #f1f5f8;
  border-width: 0px;
  border-radius: 2px;
  padding: 5px;
}
.countElement {
  color: #c20a72;
  font-size: 36px;










































































































  /